.todo {
    text-align: center;
    flex:1;
    display: flex;
    flex-direction: column;
}
.todo-input{
    margin:20px;
}
.container{
    display:flex;
    flex:1;
}
.todo-block{
    flex:1;
    display: flex;
    flex-direction: column;
    margin:5px;
}
.todo-list{
    padding:10px;
    text-align: left;
    border-width: 2px;
    border-style:solid;
    flex:1;
    min-width: 180px;
}
.destroy{
    -webkit-transition:-webkit-transform .25s, opacity .25s;
    -moz-transition:-moz-transform .25s, opacity .25s;
    transition: transform .25s, opacity .25s;
    opacity:.25;
}
.destroy:hover{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
	opacity:1;
}
.completed{
    text-decoration: line-through;
}
@media screen and (orientation: portrait) and (max-aspect-ratio:1/1) {
    .todo {
        text-align: right;
    }
    .container{
        display:flex;
        flex-direction: column;
        flex:1;
    }
    .todo-block{
        flex:1;
        display: flex;
        flex-direction: row;
        margin:5px;
    }
    .label {
        min-width:80px;
    }
    .todo-list{
        overflow-y: auto;
    }
}